/* common styles */
body{
	font-family: $A-Next;
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0em;
	position: relative;
}
html, body{
	width: 100%;
	height: 100%;
}
main{
	display: block
}
.inline-block{
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}
a{
	text-decoration: none;
	transition: 0.1s ease-in-out;
}
input[type="submit"]{
	transition: 0.1s ease-in-out;
}
img{
	max-width: 100%;
}
ul{
	padding: 0px;
	margin: 0px;
}
p{
	margin: 0px;
	padding: 0px;
}
.wrap{
	min-height: 100%;
	margin-bottom: -$footer-height;
	&:after{
		content: '';
		display: block;
		height: $footer-height;
	}
}
.top-nav{
	&__header{
		margin: 40px 0 25px;
		padding-bottom: 0px;
		border-bottom: 1px solid $black;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;
		&--without-margin{
			margin-bottom: 0px;
		}
	}
	&__bottom{
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-bottom: 25px;
		padding: 15px 0 10px;
	}
}
.bottom-nav{
	margin-bottom: 80px;
	&__header{
		margin: 40px 0 25px;
		padding-bottom: 15px;
		border-bottom: 1px solid $black;
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

@media only screen and (max-width: $tablet-port){
	.container{
		box-sizing: border-box;
		padding: 0 15px;
	}
}