/* custom fonts */
@font-face {
	font-family: 'Avenir Next W1G';
	src: url('../fonts/AvenirNext/AvenirNextW1G-Light.eot');
	src: url('../fonts/AvenirNext/AvenirNextW1G-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Light.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next W1G';
	src: url('../fonts/AvenirNext/AvenirNextW1G-Regular.eot');
	src: url('../fonts/AvenirNext/AvenirNextW1G-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Regular.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next W1G';
	src: url('../fonts/AvenirNext/AvenirNextW1G-Medium.eot');
	src: url('../fonts/AvenirNext/AvenirNextW1G-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Medium.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Avenir Next W1G';
	src: url('../fonts/AvenirNext/AvenirNextW1G-Bold.eot');
	src: url('../fonts/AvenirNext/AvenirNextW1G-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Bold.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}