/* grid */
$container-width: 100%;
$container-max-width: 1120px;
$container-min-width: 280px;
$container-fluid-width: 100%;
$container-fluid-max-width: 1600px;
$container-fluid-min-width: 280px;
$gutter: 1.75%;
$grid-spacing: 3.5%;

/* footer */
$footer-height: 110px;

/* text colors */
$first-color: #040404;
$second-color: #858585;
$thirt-color: #838383;
$active-color: #ff0081;
$black: #000000;
$white: #ffffff;

/* fonts */
$default-fonts: arial, verdana;
$A-Next: 'Avenir Next W1G', $default-fonts;

/* responsive breakpoints */
$pc: 1120px;
$tablet-land: 1024px;
$tablet-port: 768px;
$mob-land: 480px;
$mob-port: 320px