.link-list{
	ul{
		font-size: 0;
		li{
			display: inline-block;
			width: 25%;
			color: $black;
			text-transform: uppercase;
			font-size: 13px;
			margin-bottom: 20px;
			letter-spacing: 0.05em;
			a{
				color: $black;
				&:hover{
					color: $active-color;
				}
			}
		}
	}
}
@media only screen and (max-width: $tablet-port){
	.link-list{
		ul{
			li{
				width: 50%;
			}
		}
	}
}