.content{
	&--margin{
		margin: 60px 0;
	}
	&--margin-bottom{
		margin-bottom: 60px;
	}
	&__news-img, &__img{
		float: right;
	}
	&__news-text,  &__text{
		float: left;
	}
	&__img{
		box-sizing: border-box;
		padding-left: 60px;
	}
}
@media only screen and (max-width: $tablet-port){
	.content{
		.col-5, .col-7, .col-6, .col-4, .col-8{
			width: 96.5%;
		}
		&__news-img, &__news-text, &__img, &__text{
			float: none;
		}
		&__news-img, &__img{
			margin-bottom: 30px;
		}
		&__img{
			padding-left: 0px;
		}
	}
}