.footer{
	width: 100%;
	box-sizing: border-box;
	height: $footer-height;
	letter-spacing: 0.05em;
	border-top: 1px solid $black;
	padding: 35px 0;
	font-size: 0;
	&__left, &__right{
		@extend .inline-block;
	}
	&__left{
		width: 21%;
	}
	&__right{
		width: 79%;
	}
}