/* grid */
.container{
	width: $container-width;
	max-width: $container-max-width;
	min-width: $container-min-width;
	margin: 0 auto;
}
.container-fluid{
	width: $container-fluid-width;
	min-width: $container-fluid-min-width;
	max-width: $container-fluid-max-width;
	margin: 0 auto;
	box-sizing: border-box;
}
.container-full-width{
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	float: none;
	clear: both;
}
%clearfix:after{
	display: block;
	clear: both;
	content: '';
}
.row{
	@extend %clearfix
}
[class^="col-"]{
	float: left;
	margin: 0 $gutter;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.col-1{
	width: calc((1/12*100%) - $grid-spacing);
}
.col-2{
	width: calc((2/12*100%) - $grid-spacing);
}
.col-3{
	width: calc((3/12*100%) - $grid-spacing);
}
.col-4{
	width: calc((4/12*100%) - $grid-spacing);
}
.col-5{
	width: calc((5/12*100%) - $grid-spacing);
}
.col-6{
	width: calc((6/12*100%) - $grid-spacing);
}
.col-7{
	width: calc((7/12*100%) - $grid-spacing);
}
.col-8{
	width: calc((8/12*100%) - $grid-spacing);
}
.col-9{
	width: calc((9/12*100%) - $grid-spacing);
}
.col-10{
	width: calc((10/12*100%) - $grid-spacing);
}
.col-11{
	width: calc((11/12*100%) - $grid-spacing);
}
.col-12{
	width: calc((12/12*100%) - $grid-spacing);
}