.header{
	padding-top: 45px;
	height: 50px;
	z-index: 30;
	background: $white;
	padding-bottom: 30px;
	position: fixed;
	width: 100%;
}
.page--home{
	.header{
		background: transparent;
	}
	main{
		padding-top: 0px;
	}
}
@media only screen and (max-width: 1100px){
	.header{
		.col-4{
			width: 96.5%;
		}
		.col-8{
			width: 96.5%;
		}
	}
}
@media only screen and (max-width: $pc){
	.header{
		height: auto;
		mine-height: 50px;
	}
}