.page{
	&--home{
		.header{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
		}
		.wrap{
			min-height: auto;
		}
	}
}
main{
	padding-top: 125px;
}
@media only screen and (max-width: 1100px){
	main{
		padding-top: 163px;
	}
}
@media only screen and (max-width: $tablet-port){
	main{
		padding-top: 191px;
	}
}
@media only screen and (max-width: $mob-land){
	main{
		padding-top: 128px;
	}
}