/* base styles */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
    font-family: sans-serif;/* 1 */
    line-height: 1.15;/* 2 */
    -ms-text-size-adjust: 100%;/* 3 */
    -webkit-text-size-adjust: 100%;/* 3 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
    margin: 0;
}
/**
 * Add the correct display in IE 9-.
 */
article, aside, footer, header, nav, section {
    display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption, figure, main {/* 1 */
    display: block;
}
/**
 * Add the correct margin in IE 8.
 */
figure {
    margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;/* 1 */
    height: 0;/* 1 */
    overflow: visible;/* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
    font-family: monospace, monospace;/* 1 */
    font-size: 1em;/* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
    background-color: transparent;/* 1 */
    -webkit-text-decoration-skip: objects;/* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active, a:hover {
    outline-width: 0;
}
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
    border-bottom: none;/* 1 */
    text-decoration: underline;/* 2 */
    text-decoration: underline dotted;/* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b, strong {
    font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b, strong {
    font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code, kbd, samp {
    font-family: monospace, monospace;/* 1 */
    font-size: 1em;/* 2 */
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
    font-style: italic;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
    background-color: #ff0;
    color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio, video {
    display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
    border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
    overflow: hidden;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button, input, optgroup, select, textarea {
    font-family: sans-serif;/* 1 */
    font-size: 100%;/* 1 */
    line-height: 1.15;/* 1 */
    margin: 0;/* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button, input {/* 1 */
    overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button, select {/* 1 */
    text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;/* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;/* 1 */
    color: inherit;/* 2 */
    display: table;/* 1 */
    max-width: 100%;/* 1 */
    padding: 0;/* 3 */
    white-space: normal;/* 1 */
}
/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    display: inline-block;/* 1 */
    vertical-align: baseline;/* 2 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
    overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"], [type="radio"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;/* 1 */
    padding: 0;/* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
    -webkit-appearance: textfield;/* 1 */
    outline-offset: -2px;/* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
    -webkit-appearance: button;/* 1 */
    font: inherit;/* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details, menu {
    display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
    display: list-item;
}
/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
    display: inline-block;
}
/**
 * Add the correct display in IE.
 */
template {
    display: none;
}
/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
    display: none;
}
/* custom fonts */
@font-face {
    font-family: 'Avenir Next W1G';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Light.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Light.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next W1G';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Regular.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Regular.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next W1G';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Medium.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Medium.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next W1G';
    src: url('../fonts/AvenirNext/AvenirNextW1G-Bold.eot');
    src: url('../fonts/AvenirNext/AvenirNextW1G-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext/AvenirNextW1G-Bold.woff') format('woff'),
		url('../fonts/AvenirNext/AvenirNextW1G-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* grid */
/* footer */
/* text colors */
/* fonts */
/* responsive breakpoints */
/* common styles */
body {
    font-family: 'Avenir Next W1G',arial,verdana;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0em;
    position: relative;
}
html, body {
    width: 100%;
    height: 100%;
}
main {
    display: block;
}
.inline-block, .footer__left, .footer__right, .top-level-menu ul li, .breadcrumbs ul li, .language ul li, .filters__item, .content-list__left, .content-list__right, .footer-contacts__block {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}
a {
    text-decoration: none;
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
input[type="submit"] {
    -webkit-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
img {
    max-width: 100%;
}
ul {
    padding: 0px;
    margin: 0px;
}
p {
    margin: 0px;
    padding: 0px;
}
.wrap {
    min-height: 100%;
    margin-bottom: -110px;
}
.wrap:after {
    content: '';
    display: block;
    height: 110px;
}
.top-nav {}
.top-nav__header {
    margin: 40px 0 25px;
    padding-bottom: 0px;
    border-bottom: 1px solid #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.top-nav__header--without-margin {
    margin-bottom: 0px;
}
.top-nav__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-bottom: 25px;
    padding: 15px 0 10px;
}
.bottom-nav {
    margin-bottom: 80px;
}
.bottom-nav__header {
    margin: 40px 0 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media only screen and (max-width: 768px) {
    .container {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        padding: 0 15px;
    }
}

/* layout styles */
/* grid */
.container {
    width: 100%;
    max-width: 1120px;
    min-width: 280px;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    min-width: 280px;
    max-width: 1600px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container-full-width {
    margin: 0 auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    float: none;
    clear: both;
}
.row:after {
    display: block;
    clear: both;
    content: '';
}
[class^="col-"] {
    float: left;
    margin: 0 1.75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.col-1 {
    width: 4.83333%;
}
.col-2 {
    width: 13.16667%;
}
.col-3 {
    width: 21.5%;
}
.col-4 {
    width: 29.83333%;
}
.col-5 {
    width: 38.16667%;
}
.col-6 {
    width: 46.5%;
}
.col-7 {
    width: 54.83333%;
}
.col-8 {
    width: 63.16667%;
}
.col-9 {
    width: 71.5%;
}
.col-10 {
    width: 79.83333%;
}
.col-11 {
    width: 88.16667%;
}
.col-12 {
    width: 96.5%;
}
.header {
    padding-top: 45px;
    height: 50px;
    z-index: 30;
    background: #ffffff;
    padding-bottom: 30px;
    position: fixed;
    width: 100%;
}
.page--home .header {
    background: transparent;
}
.page--home main {
    padding-top: 0px;
}
@media only screen and (max-width: 1100px) {
    .header .col-4 {
        width: 96.5%;
    }
    .header .col-8 {
        width: 96.5%;
    }
}
@media only screen and (max-width: 1120px) {
    .header {
        height: auto;
        mine-height: 50px;
    }
}
.page {}
.page--home .header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
.page--home .wrap {
    min-height: auto;
}
main {
    padding-top: 125px;
}
@media only screen and (max-width: 1100px) {
    main {
        padding-top: 163px;
    }
}
@media only screen and (max-width: 768px) {
    main {
        padding-top: 191px;
    }
}
@media only screen and (max-width: 480px) {
    main {
        padding-top: 128px;
    }
}
.content {}
.content--margin {
    margin: 60px 0;
}
.content--margin-bottom {
    margin-bottom: 60px;
}
.content__news-img, .content__img {
    float: right;
}
.content__news-text, .content__text {
    float: left;
}
.content__img {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 60px;
}
@media only screen and (max-width: 768px) {
    .content .col-5, .content .col-7, .content .col-6, .content .col-4, .content .col-8 {
        width: 96.5%;
    }
    .content__news-img, .content__news-text, .content__img, .content__text {
        float: none;
    }
    .content__news-img, .content__img {
        margin-bottom: 30px;
    }
    .content__img {
        padding-left: 0px;
    }
}
.footer {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 110px;
    letter-spacing: 0.05em;
    border-top: 1px solid #000000;
    padding: 35px 0;
    font-size: 0;
}
.footer__left {
    width: 21%;
}
.footer__right {
    width: 79%;
}

/* components styles */
/*
* HEADER
*/
/* logo */
.logo {
    font-weight: 500;
    letter-spacing: 0.10em;
    font-size: 21px;
    color: #040404;
    margin-top: 14px;
}
.logo a {
    color: #040404;
}
@media only screen and (max-width: 480px) {
    .logo {
        margin-top: 0px;
    }
    .header {
        padding-top: 38px;
    }
}
/* top level menu */
/* top level menu style */
.top-level-menu {
    display: block;
    font-size: 0;
    text-align: right;
    margin-top: 22px;
}
.top-level-menu ul li {
    margin-left: 24px;
}
.top-level-menu ul li a {
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.top-level-menu ul li a:hover {
    color: #ff0081;
}
.top-level-menu ul li:first-child {
    margin-left: 0px;
}
.top-level-menu ul li.current a {
    color: #ff0081;
}
.menu-mob {
    display: none;
    font-size: 13px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-top: 22px;
}
.menu-mob:hover {
    color: #ff0081;
}
@media only screen and (max-width: 1100px) {
    .top-level-menu {
        text-align: left;
    }
    .top-level-menu ul li {
        margin-left: 0px;
        margin-right: 25px;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 480px) {
    .menu-mob {
        display: inline-block;
    }
    .top-level-menu {
        display: none;
        margin-top: 15px;
    }
    .top-level-menu ul li {
        width: 100%;
        margin-right: 0px;
    }
    .top-level-menu ul li a {
        font-size: 13px;
    }
    .top-level-menu--active {
        display: block;
    }
}
/*
* NAVIGATION
*/
/* breadcrumbs */
/* breadcrumbs */
.breadcrumbs {
    font-size: 0;
    line-height: 18px;
}
.breadcrumbs ul li {
    color: #858585;
    font-size: 12px;
}
.breadcrumbs ul li a {
    color: #858585;
}
.breadcrumbs ul li a:hover {
    color: #ff0081;
    border-bottom: 1px solid #ff0081;
}
.breadcrumbs ul li.current {
    color: #000000;
}
.breadcrumbs ul li.current a {
    color: #000000;
}
/* language */
/* language */
.language {
    font-size: 0;
    text-align: right;
    line-height: 18px;
}
.language ul li {
    color: #838383;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 8px;
}
.language ul li a {
    color: #838383;
}
.language ul li a:hover {
    color: #ff0081;
    border-bottom: 1px solid #ff0081;
}
.language ul li:first-child {
    margin-left: 0px;
}
.language ul li.current {
    color: #000000;
}
.language ul li.current a {
    color: #040404;
}
/* filters */
.filters {
    font-size: 0;
    margin: 40px 0 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    line-height: 24px;
}
.filters ul li {}
.filters__item {
    font-size: 11px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: 0.05em;
    margin-right: 16px;
}
.filters__item a {
    color: #000000;
}
.filters__item--current, .filters__item a:hover {
    color: #ff0081;
}
.filters__item--current a, .filters__item a:hover a {
    color: #ff0081;
}
.filters--first {
    margin-bottom: 20px;
}
.filters--second {
    margin-top: 0px;
    padding-bottom: 18px;
}
.filters--second .filters__item {
    font-size: 13px;
    margin-right: 20px;
}
/* link list */
.link-list ul {
    font-size: 0;
}
.link-list ul li {
    display: inline-block;
    width: 25%;
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
}
.link-list ul li a {
    color: #000000;
}
.link-list ul li a:hover {
    color: #ff0081;
}
@media only screen and (max-width: 768px) {
    .link-list ul li {
        width: 50%;
    }
}
/* change view */
.change-view {
    font-size: 0;
    margin-bottom: 15px;
}
.change-view__grid, .change-view__list {
    display: inline-block;
    height: 11px;
    width: 11px;
    background: url('../../../src/components/change-view/assets/icons.png') no-repeat;
    margin-left: 15px;
}
.change-view__grid:hover, .change-view__list:hover {
    opacity: 0.6;
}
.change-view__list {
    width: 12px;
    background-position: -12px 0;
}
/*
* CONTENT
*/
/* full banner (home) */
.full-img {
    display: block;
    width: 100%;
    min-height: 100%;
    background-position: center center;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    position: relative;
    color: #000000;
}
.full-img__more {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #ffffff;
    color: #000000;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.10em;
}
.full-img__more:hover {
    color: #ff0081;
}
.full-img__text {
    position: absolute;
    bottom: 70px;
    left: 0px;
    width: 100%;
}
.full-img__text-body {
    max-width: 300px;
    font-size: 16px;
    line-height: 24px;
}
.full-img__text-body h2 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
    margin-bottom: 7px;
    font-weight: bold;
    letter-spacing: 0.05em;
}
/* items list */
.items-list {
    padding: 80px 0;
    width: 100%;
}
.items-list ul li {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    padding: 6px 0;
    margin: 10px 0;
    line-height: 18px;
    font-weight: 500;
}
.items-list ul li a {
    color: #000000;
}
.items-list ul li a:hover {
    color: #ff0081;
}
.items-list--artists {
    padding: 0 0 50px;
}
@media only screen and (max-width: 768px) {
    .items-list .row {
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;
    }
    .items-list .col-3 {
        -webkit-column-break-inside: avoid;
           page-break-inside: avoid;
                break-inside: avoid;
        width: 100%;
        padding-right: 10px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}
@media only screen and (max-width: 480px) {
    .items-list .row {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;
    }
    .items-list .col-3 {
        -webkit-column-break-inside: avoid;
           page-break-inside: avoid;
                break-inside: avoid;
        width: 100%;
        padding-right: 10px;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }
}
/* thumbnails grid */
.thumbnails-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
}
.thumbnails-grid__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 31%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
    color: #000000;
    margin: 0 1.75%;
    margin-bottom: 50px;
}
.thumbnails-grid__item a {
    color: #000000;
}
.thumbnails-grid__item a:hover {
    color: #ff0081;
}
.thumbnails-grid__item:nth-child(3n) {
    margin-right: 0px;
}
.thumbnails-grid__item:nth-child(3n+1) {
    margin-left: 0px;
}
.thumbnails-grid__img {
    margin-bottom: 5px;
}
.thumbnails-grid__img img {
    width: 100%;
    max-width: 100%;
}
.thumbnails-grid__title {
    font-size: 13px;
    color: inherit;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 0.05em;
}
.thumbnails-grid__text {
    font-size: 13px;
    color: inherit;
    line-height: 20px;
}
.thumbnails-grid__more {
    font-size: 11px;
    color: inherit;
    text-transform: uppercase;
    margin-top: 22px;
    letter-spacing: 0.1em;
}
.thumbnails-grid--news-exhibitions .thumbnails-grid__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 23%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    margin: 0 1.33%;
}
margin-bottom: 30px
			.thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(4n) {
    margin-right: 0px;
}
.thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(4n+1) {
    margin-left: 0px;
}
.thumbnails-grid--fairs .thumbnails-grid__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 23%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    margin: 0 1.33%;
    margin-bottom: 50px;
}
.thumbnails-grid--fairs .thumbnails-grid__item:nth-child(4n) {
    margin-right: 0px;
}
.thumbnails-grid--fairs .thumbnails-grid__item:nth-child(4n+1) {
    margin-left: 0px;
}
.thumbnails-grid--fairs-grid .thumbnails-grid__item {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
}
.thumbnails-grid--fairs-grid .thumbnails-grid__img img {
    width: auto;
    max-width: 95%;
    height: auto;
    max-height: 95%;
    display: block;
    margin: 0 auto;
}
.thumbnails-grid--full .thumbnails-grid__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px;
    margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
    .thumbnails-grid {}
    .thumbnails-grid__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 48%;
                flex: 0 0 48%;
        margin: 0 2%;
        margin-bottom: 50px;
    }
    .thumbnails-grid__item:nth-child(3n) {
        margin-right: 2%;
    }
    .thumbnails-grid__item:nth-child(3n+1) {
        margin-left: 2%;
    }
    .thumbnails-grid__item:nth-child(2n) {
        margin-right: 0px;
    }
    .thumbnails-grid__item:nth-child(2n+1) {
        margin-left: 0px;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 30.6%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 30.6%;
                flex: 0 0 30.6%;
        margin: 0 2%;
        margin-bottom: 30px;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(4n) {
        margin-right: 2%;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(4n+1) {
        margin-left: 2%;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(3n) {
        margin-right: 0px;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(3n+1) {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 480px) {
    .thumbnails-grid {}
    .thumbnails-grid__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    .thumbnails-grid__item:nth-child(3n) {
        margin-right: 0px;
    }
    .thumbnails-grid__item:nth-child(3n+1) {
        margin-left: 0px;
    }
    .thumbnails-grid__item:nth-child(2n) {
        margin-right: 0px;
    }
    .thumbnails-grid__item:nth-child(2n+1) {
        margin-left: 0px;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 48%;
           -moz-box-flex: 0;
            -ms-flex: 0 0 48%;
                flex: 0 0 48%;
        margin: 0 2%;
        margin-bottom: 30px;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(4n) {
        margin-right: 2%;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(4n+1) {
        margin-left: 2%;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(3n) {
        margin-right: 2%;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(3n+1) {
        margin-left: 2%;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(2n) {
        margin-right: 0px;
    }
    .thumbnails-grid--news-exhibitions .thumbnails-grid__item:nth-child(2n+1) {
        margin-left: 0px;
    }
}
/* title text */
.text-title {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 15px;
}
.text-title h1, .text-title h2 {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    font-weight: 500;
}
.text-title h1 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.text-title--nomargin {
    margin: 0px;
}
.text-title__nav {
    line-height: 15px;
    margin-top: 5px;
    position: relative;
    top: 5px;
}
.text-title__nav ul {
    font-size: 0;
}
.text-title__nav ul li {
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    color: #000000;
    letter-spacing: .05em;
    margin-right: 16px;
}
.text-title__nav ul li a {
    color: #000000;
}
.text-title__nav ul li a:hover {
    color: #ff0081;
}
.text-title__nav ul li.current a {
    color: #ff0081;
}
/* title links */
.title-links {
    margin-bottom: 10px;
    line-height: 22px;
}
.title-links ul li {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-right: 15px;
    font-size: 11px;
}
.title-links ul li a {
    color: #000000;
}
.title-links ul li a:hover {
    color: #ff0081;
}
.title-links ul li:last-child {
    padding-right: 0px;
}
.title-links ul li.current a {
    color: #ff0081;
}
/* carousel */
.carousel {
    position: relative;
}
.carousel__back, .carousel__next {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #222222;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
       -moz-border-radius: 23px;
            border-radius: 23px;
    opacity: 0.5;
}
.carousel__back:hover, .carousel__next:hover {
    opacity: 1;
}
.carousel__back {
    left: 15px;
}
.carousel__next {
    right: 15px;
}
.carousel__item {
    display: none;
}
.carousel__item img {
    display: block;
    width: 100%;
}
.carousel__item--active {
    display: block;
}
.carousel__desk {
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
}
.carousel__desk a {
    color: #000000;
}
.carousel__desk a:hover {
    color: #ff0081;
}
.carousel--second .carousel__item img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.carousel--second .carousel__back, .carousel--second .carousel__next {
    top: 45%;
    width: 14px;
    height: 32px;
    background: url('../../../src/components/carousel/assets/arrow.png') no-repeat;
    margin-top: -16px;
    border: 0px;
    opacity: 1;
    font-size: 0;
    -webkit-transition: 0s ease-in-out;
    -o-transition: 0s ease-in-out;
    -moz-transition: 0s ease-in-out;
    transition: 0s ease-in-out;
}
.carousel--second .carousel__back:hover, .carousel--second .carousel__next:hover {
    background-position: 0 -32px;
}
.carousel--second .carousel__next {
    -webkit-transform: rotate(-180deg);
       -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
         -o-transform: rotate(-180deg);
            transform: rotate(-180deg);
}
@media only screen and (max-width: 768px) {
    .carousel {}
    .carousel__item img {
        max-width: 70%;
    }
    .carousel--second .carousel__item img {
        max-width: 70%;
    }
    .carousel--second .carousel__back, .carousel--second .carousel__next {
        top: 40%;
    }
    .carousel__back, .carousel__next {
        top: 40%;
    }
    .carousel--view2 .carousel__item {
        display: none;
    }
    .carousel--view2 .carousel__item img {
        display: block;
        width: 100%;
        max-width: 100%;
    }
    .carousel--view2 .carousel__item.carousel__item--active {
        display: block;
    }
    .carousel--view2 .carousel__back, .carousel--view2 .carousel__next {
        top: 50%;
    }
}
/* content text */
.content-text {
    font-size: 13px;
    line-height: 22px;
    color: #000000;
    text-align: justify;
}
.content-text h1, .content-text h2, .content-text h3 {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin: 20px 0;
}
.content-text h4 {
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px;
    font-size: 14px;
    margin-bottom: 15px;
}
.content-text p {
    margin-bottom: 10px;
}
.content-text a {
    color: #000000;
}
.content-text a:hover {
    color: #ff0081;
}
.content-text b, .content-text strong {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
}
.content-text--news {
    line-height: 25px;
}
.content-text--news h4 {
    margin-bottom: 25px;
}
.content-text--news p {
    margin-bottom: 20px;
}
.content-text__map {
    width: 97%;
    height: 400px;
    margin-bottom: 30px;
}
.content-text__map iframe {
    width: 100%;
    height: 100%;
}
.content-text--left-padding {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 300px;
    float: right;
}
.content-text__img-block {
    margin-top: 50px;
}
.content-text__img-block img {
    float: left;
    width: 42%;
    margin: 20px 4% 0;
}
.content-text__links {
    font-size: 11px;
    text-transform: uppercase;
    margin-top: 25px;
}
.content-text__title {
    display: block;
    color: #000000;
    border-bottom: 1px solid silver;
    padding-bottom: 5px;
    font-size: 13px;
}
.content-list {
    width: 80%;
}
.content-list__left {
    width: 18%;
    padding-right: 2%;
}
.content-list__right {
    width: 80%;
}
.content-list__right a {
    text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
    .content-text {}
    .content-text--left-padding {
        max-width: 100%;
    }
    .content-text__img-block {
        max-width: 400px;
        margin-bottom: 50px;
    }
    .content-text__img-block:after {
        content: '';
        display: block;
        clear: both;
    }
    .content-text__map {
        width: 100%;
    }
    .content-list {
        width: 95%;
    }
    .content-list__left, .content-list__right {
        width: 100%;
    }
    .content-list__left {
        margin-bottom: 10px;
    }
}
/* content image */
.content-image {
    width: 100%;
}
.content-image img {
    display: block;
    width: 100%;
}
.content-image--noresize img {
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
/* gallery */
.gallery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    margin: 20px 0;
}
.gallery__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 31%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 31%;
            flex: 0 0 31%;
    margin: 1.75%;
}
.gallery__item:nth-child(3n) {
    margin-right: 0px;
}
.gallery__item:nth-child(3n+1) {
    margin-left: 0px;
}
.gallery__item:hover {
    opacity: 0.8;
}
/* video */
.video {
    margin-bottom: 15px;
}
.video iframe {
    width: 100%;
    max-width: 500px;
    height: 350px;
}
@media only screen and (max-width: 480px) {
    .video iframe {
        height: 250px;
    }
}
/*
* FOOTER
*/
/* copyright */
.copyright {
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
/* follow us */
.follow-us {
    font-size: 0;
    margin-top: 15px;
}
.follow-us ul li {
    display: inline-block;
    margin-right: 20px;
}
.follow-us ul li a {
    display: block;
    width: 12px;
    height: 12px;
}
.follow-us ul li:last-child {
    margin-right: 0px;
}
.follow-us__facebook a {
    background: url('../../../src/components/follow-us/assets/facebook-icon.png') no-repeat;
}
.follow-us__twitter a {
    background: url('../../../src/components/follow-us/assets/twitter-icon.png') no-repeat;
}
.follow-us__instagram a {
    background: url('../../../src/components/follow-us/assets/instagram-icon.png') no-repeat;
}
/* footer contacts */
.footer-contacts {}
.footer-contacts__block {
    font-size: 12px;
    color: #000000;
    text-transform: uppercase;
    line-height: 30px;
    margin-top: -8px;
    letter-spacing: 0.05em;
}
.footer-contacts__block a {
    color: #000000;
}
.footer-contacts__block a:hover {
    color: #ff0081;
}
.footer-contacts__block:nth-child(1) {
    width: 28%;
}
.footer-contacts__block:nth-child(2) {
    width: 34%;
}
.footer-contacts__block:nth-child(3) {
    width: 20%;
}
.footer-contacts__block:nth-child(4) {
    width: 18%;
}
@media only screen and (max-width: 1024px) {
    .footer-contacts {}
    .footer-contacts__block {
        margin-bottom: 20px;
    }
    .footer-contacts__block:nth-child(1) {
        width: 50%;
    }
    .footer-contacts__block:nth-child(2) {
        width: 50%;
    }
    .footer-contacts__block:nth-child(3) {
        width: 50%;
        position: relative;
        top: -30px;
    }
    .footer-contacts__block:nth-child(4) {
        width: 50%;
    }
    .footer__left {
        width: 30%;
    }
    .footer__right {
        width: 70%;
    }
}
@media only screen and (max-width: 768px) {
    .footer__left {
        width: 100%;
        margin-bottom: 40px;
    }
    .footer__right {
        width: 100%;
    }
}
@media only screen and (max-width: 530px) {
    .footer-contacts {}
    .footer-contacts__block {
        margin-bottom: 20px;
    }
    .footer-contacts__block:nth-child(1) {
        width: 100%;
    }
    .footer-contacts__block:nth-child(2) {
        width: 100%;
    }
    .footer-contacts__block:nth-child(3) {
        width: 100%;
        position: relative;
        top: 0px;
    }
    .footer-contacts__block:nth-child(4) {
        width: 100%;
    }
    .footer__left {
        width: 100%;
        margin-bottom: 40px;
    }
    .footer__right {
        width: 100%;
    }
}