.content-text{
	font-size: 13px;
	line-height: 22px;
	color: $black;
	text-align: justify;
	&--news{
		line-height: 25px;
		h4{
			margin-bottom: 25px;
		}
		p{
			margin-bottom: 20px;
		}
	}
	h1, h2, h3{
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		margin: 20px 0;
	}
	h4{
		font-weight: 500;
		text-transform: uppercase;
		margin: 0px;
		font-size: 14px;
		margin-bottom: 15px;
	}
	p{
		margin-bottom: 10px;
	}
	a{
		color: $black;
		&:hover{
			color: $active-color;
		}
	}
	b, strong{
		display: inline-block;
		margin-top: 5px;
		font-weight: bold;
	}
	&__map{
		width: 97%;
		height: 400px;
		margin-bottom: 30px;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	&--left-padding{
		box-sizing: border-box;
		max-width: 300px;
		float: right;
	}
	&__img-block{
		margin-top: 50px;
		img{
			float: left;
			width: 42%;
			margin: 20px 4% 0;
		}
	}
	&__links{
		font-size: 11px;
		text-transform: uppercase;
		margin-top: 25px;
	}
	&__title{
		display: block;
		color: $black;
		border-bottom: 1px solid silver;
		padding-bottom: 5px;
		font-size: 13px;
	}
}
.content-list{
	width: 80%;
	&__left, &__right{
		@extend .inline-block;
	}
	&__left{
		width: 18%;
		padding-right: 2%;
	}
	&__right{
		width: 80%;
		a{
			text-transform: uppercase;
		}
	}
}
@media only screen and (max-width: $tablet-port){
	.content-text{
		&--left-padding{
			max-width: 100%;
		}
		&__img-block{
			max-width: 400px;
			margin-bottom: 50px;
			&:after{
				content: '';
				display: block;
				clear: both;
			}
		}
		&__map{
			width: 100%;
		}
	}
	.content-list{
		width: 95%;
		&__left, &__right{
			width: 100%;
		}
		&__left{
			margin-bottom: 10px;
		}
	}
}