<div class="content-text">
	<div class="content-list">
		<div class="content-list__left">
			27 декабря 2016 г.
		</div>
		<div class="content-list__right">
			<a href="#">НИК МАУСС ОБСУЖДАЕТ ЕГО РАБОТУ ПО РАЗРАБОТКЕ МЕЧТЫ, ПРАЗДНОВАНИЮ ЛЕОНА БАКТА, АЛЕКСА ФИАЛХО, АРТФОРУМА</a>
		</div>
	</div>
</div>