<div class="content-text content-text--left-padding">
	<h4>Contacts</h4>

	<b>Gallery owner</b><br />
	Marina Gisich<br />
	<b>Assistants</b><br />
	Maria Katz (special pojects)<br />
	Galina Leontieva (international affairs)
	<br /><br />

	<b>Address</b><br />
	190068, Russia, Saint-Petersburg, Fontanka emb., 121
	<br /><br />

	<b>Phones</b><br />
	<a href="tel:+78123144380">+7 (812) 314 4380</a><br />
	<a href="tel:+78125707873">+7 (812) 570 7873</a>
	<br /><br />

	<b>Email</b><br />
	<a href="mailto:marina.gisich@gmail.com" title="Email">marina.gisich@gmail.com</a>
	<br /><br />

	<b>Opening hours</b><br />
	Mon — Fri 11:00 — 19:00<br />
	Sat 12:00 — 18:00<br />
	The gallery is open by the appointment. Please, call us before visiting

	<div class="content-text__img-block">
		<h4>Partners</h4>
		<img src="../src/components/content-text/assets/logo1.jpg" alt="">
		<img src="../src/components/content-text/assets/logo2.png" alt="">
	</div>
</div>