<div class="content-text">

	<!-- video -->
	{% include '../video/index.html' %}
	<!-- /video -->

	<p>Даг Айткен, известный своими инновационными инсталляциями в изобразительном искусстве, находится на границе коммуникации 21 века. Используя широкий спектр художественных подходов, взгляд Айткена ведет нас в мир, где время, пространство и память являются текущими понятиями. Его работы были показаны на выставках по всему миру, в таких учреждениях, как Музей американского искусства Уитни, Музей современного искусства, Венский Сецессион, Змеиная галерея в Лондоне и Центр Жоржа Помпиду в Париже. Aitken получил Международную премию на Венецианской биеннале за установку «Электрическая земля», в 2012 году в номинации «Приз Художественного центра Нам Джун Пайк» и премию «Смитсоновская американская изобретательность» в области визуальных искусств 2013 года.</p>
	<br>
	<div class="content-text__title">
		SELECTED EXHIBITIONS:
	</div>

	<div>&nbsp;</div>

	<div>2017 &nbsp; &nbsp;&nbsp;"Doug Aitken: Electric Earth", Modern Art Museum of Fort Worth, Fort Worth, TX</div>

	<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;"Mirage"<em>, </em>Desert X, Palm Springs, CA</div>

	<div>2016 &nbsp; &nbsp; "Doug Aitken, Underwater Pavilions"<em>, </em>Parley for the Oceans and MoCA, Los Angeles, Pacific Ocean near Catalina Island, CA</div>

	<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;"Doug Aitken: Electric Earth", The Museum&nbsp;of Contemporary Art Los Angeles, Los Angeles, CA</div>

	<div>2015 &nbsp; &nbsp;&nbsp; Schirn Kunsthalle, Frankfurt, Germany</div>

	<div>2013&nbsp;&nbsp;&nbsp;&nbsp; “electric earth”, Nam June Paik Art Center, Yongin-si Gyeonggi-do, Korea</div>

	<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“MIRROR”, Seattle Art Museum, Seattle, WA</div>

	<div>2012 &nbsp; &nbsp; "SONG 1", Hirshhorn Museum and Sculpture Garden, Smithsonian Institution,&nbsp;Washington, DC</div>

	<div>2011&nbsp;&nbsp;&nbsp;&nbsp; “Black Mirror”, DESTE Foundation Project Space, Salughterhouse and open-air barge,&nbsp;Hydra Island, Greece</div>

	<div>2010 &nbsp; &nbsp; "Doug Aitken: migration (empire)", Princeton University Art Museum, Princeton, NJ</div>

	<div>2009 &nbsp; &nbsp; “Frontier", Museum of Contemporary Art Roma / Enel Contemporanea, Tiber Island, Rome, Italy</div>

	<div>2007 &nbsp; &nbsp;&nbsp;“sleepwalkers”,&nbsp;The Museum of Modern Art New York and Creative Time, New York, NY</div>

	<div>2005 &nbsp; &nbsp; “ULTRAWORLD", Musée d’Art Moderne de la Ville&nbsp;de Paris, Paris, France&nbsp;</div>

	<div>2004 &nbsp; &nbsp; "Hard Light", MoMA PS1, New York, NY</div>

	<div>2003 &nbsp;&nbsp;&nbsp;&nbsp; Kunsthalle Zurich,&nbsp;Zurich,&nbsp;Switzerland</div>

	<div>2001 &nbsp; &nbsp; "new ocean", Serpentine Gallery, London, UK;&nbsp;traveled to:&nbsp;Tokyo Opera City Art Gallery, Japan (2002);&nbsp;</div>

	<div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Kunsthaus Bregenz, Austria (2002);&nbsp;Fondazione Sandretto Re Rebaudengo per l’Arte, Turin, Italy (2003)</div>

	<div>2000&nbsp; &nbsp; &nbsp;"glass horizon", Vienna Secession, Vienna, Austria</div>

	<div>1999 &nbsp; &nbsp;&nbsp;“Concentrations 33: Doug Aitken, Diamond Sea”, Dallas Museum of Art, Dallas, TX</div>

	<div>&nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;“dAPERTutto”, 48th&nbsp;Venice Biennale, Venice, Italy</div>

	<div>1997 &nbsp; &nbsp; "1997 Whitney Biennial", Whitney Museum of American&nbsp;Art, New York, NY</div>

	<p>&nbsp;</p>

	<div class="content-text__title">
		PRIZES
	</div>
	<br>
	2016 &nbsp; &nbsp; &nbsp;Americans for the Arts National Arts Award: Outstanding Contributions to the Arts</p>

	<p>2013&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Smithsonian Magazine American Ingenuity Award: Visual Arts</p>

	<p>2012&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nam June Paik Art Center Prize</p>

	<p>2009&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Aurora Award, Aurora Picture Show, Houston, TX</p>

	<p>2007 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;German Film Critics Association Award, KunstFilmBiennale, Cologne, Germany</p>

	<p>2000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aldrich Award, Aldrich Museum of Contemporary Art, Ridgefield, CT</p>

	<p>1999 &nbsp;&nbsp;&nbsp;&nbsp; International Prize - Golden Lion, Venice Biennale, Venice, Italy</p>

	<p>&nbsp;</p>

	<div class="content-text__title">
		SELECTED PUBLIC AND MUSEUM COLLECTIONS:
	</div>
	<br>
	21st Century Museum of Contemporary Art, Kanazawa, Japan</p>

	<p>Carnegie Museum of Art, Pittsburgh, PA</p>

	<p>Centre Georges Pompidou, Paris, France</p>

	<p>Hammer Museum, Los Angeles, CA</p>

	<p>Metropolitan Museum of Art, NY</p>

	<p>Museum of Contemporary Art, Los Angeles, CA</p>

	<p>Museum of Modern Art, NY</p>

	<p>Walker Art Center, Minneapolis, MN</p>

	<p>Whitney Museum of American Art, New York, NY</p>

	<p>San Francisco Museum of Modern Art, San Francisco, CA</p>

	<p>Hirshhorn Museum and Sculpture Garden, Washington D.C.</p>

	<br>
	<div class="content-text__title">
		LINKS
	</div>

	<div class="content-text__links">
		<p><a href="http://www.dougaitkenworkshop.com/" target="_blank">Doug Aitken Workshop</a></p>
		<p><a href="https://vimeo.com/user5764412" target="_blank">Doug Aitken Workshop Vimeo</a></p>
		<p><a href="http://dougaitkenblackmirror.com" target="_blank">Black Mirror</a></p>
		<p><a href="http://www.dougaitkensong1.com" target="_blank">SONG 1</a></p>
		<p><a href="http://dougaitkenthesource.com" target="_blank">THE SOURCE | Conversations with Doug Aitken</a></p>
	</div>

</div>