<div class="content-text content-text--news">
	<h4>10-й международный фестиваль медиа-искусства КИБЕРФЕСТ</h4>
	<p>В рамках выставки <i>свои работы представят молодые художники из Москвы</i>, Санкт-Петербурга, Екатеринбурга и Перми. Организаторами мероприятия выступают Санкт-Петербургский государственный университет, Новый музей и Музей современного искусства им. С.П. Дягилева СПбГУ. Выставка «Китай-Россия» – это первая часть проекта «Три полюса многополярного мира. Китай. Россия. США», инициированного Музеем современного искусства им. Дягилева СПбГУ. Проект, ориентированный прежде всего на молодежную аудиторию, призван понять и показать, каким хочет видеть мир art generation XXI века.</p>
	<h1>Венецианской биеннале</h1>
	<p>Современное российское искусство на выставке будет представлено разделом «Русский пазл». Название экспозиции отражает как дух игры, каждый участник которой вносит что-то свое, так и «трудности перевода», возникающие в понимании современной России в мире. Это выставка про проблемы коммуникации, непонимание людьми друг друга и мозаичность современного сознания. В экспозицию войдут работы, выполненные в разных техниках молодыми художниками, среди которых Алена Терешко, Александр Дашевский, Семен Мотолянец, Лера Лернер, Илья Гришаев и многие другие.</p>
	<p>«Китайскую» часть выставки составят работы шестнадцати художников – Юнкун Лю, Лю Лемьин, Лян Хуицинь, и других. Это авторы, творящие в разных жанрах – от абстракции до портрета, пейзажа и фантастического реализма. Многие из них получили мировую известность. Так, видео-арт на выставке будет представлен работой Гэн Сюэ, участника 57-й Венецианской биеннале, который с помощью анимации признается в любви к традиционному искусству Китая – фарфору. Peng Feng – куратор проекта с китайской стороны, профессор Пекинского университета.</p>
	<div class="content-text__links">
		<a href="#">MOMA.ORG</a>
	</div>
</div>