<div class="content-text content-text--news">
	Под редакцией Селии Бернаскони, Джона Е. Боулта, Ника Мосса<br />
	Предисловие Его Королевского Высочества Принцесса Ганноверская, Председатель Совета NMNM и Комитет по Приобретению<br />
	Предисловие Мари-Клода Бода, директора НМНМ<br />
	Тексты: Леон Бакст, Джон Боулт, Эммелин Баттерфилд-Розен, Нина Лобанов-Ростовский, Фируза <br />Мелвилл, Николетта Мислер, Елена Теркель
	<br /><br />

	Mousse Publishing, 2017
	208 страниц, французский / английский
	Flexicover, 24 x 33 см
	ISBN 9-788867-492770

</div>