<div class="content-text content-text--left-padding">
	<h4>Контакты</h4>

	<b>Галерист</b><br />
	Марина Гисич<br />
	<b>Ассистенты</b><br />
	Мария Катц (special projects)<br />
	Галина Леонтьева (international affairs)
	<br /><br />

	<b>Адрес</b><br />
	190068, Россия, Санкт-Петербург, наб. р.Фонтанки, 121
	<br /><br />

	<b>Телефоны</b><br />
	<a href="tel:+78123144380">+7 (812) 314 4380</a><br />
	<a href="tel:+78125707873">+7 (812) 570 7873</a>
	<br /><br />

	<b>Email</b><br />
	<a href="mailto:marina.gisich@gmail.com" title="Email">marina.gisich@gmail.com</a>
	<br /><br />

	<b>Часы работы</b><br />
	Пн — Пт 11:00 — 19:00<br />
	Сб 12:00 — 18:00 <br />
	По субботам посещение галереи осуществляется по предварительной договоренности. Пожалуйста, позвоните нам перед визитом.

	<div class="content-text__img-block">
		<h4>Партнеры</h4>
		<img src="../src/components/content-text/assets/logo1.jpg" alt="">
		<img src="../src/components/content-text/assets/logo2.png" alt="">
	</div>
</div>