/* language */
.language{
	font-size: 0;
	text-align: right;
	line-height: 18px;
	ul{
		li{
			@extend .inline-block;
			color: $thirt-color;
			font-size: 12px;
			text-transform: uppercase;
			margin-left: 8px;
			&:first-child{
				margin-left: 0px;
			}
			a{
				color: $thirt-color;
				&:hover{
					color: $active-color;
					border-bottom: 1px solid $active-color;
				}
			}
			&.current{
				color: $black;
				a{
					color: $first-color;
				}
			}
		}
	}
}