.follow-us{
	font-size: 0;
	margin-top: 15px;
	ul{
		li{
			display: inline-block;
			margin-right: 20px;
			&:last-child{
				margin-right: 0px;
			}
			a{
				display: block;
				width: 12px;
				height: 12px;
			}
		}
	}
	&__facebook a{
		background: url('../../../src/components/follow-us/assets/facebook-icon.png') no-repeat;
	}
	&__twitter a{
		background: url('../../../src/components/follow-us/assets/twitter-icon.png') no-repeat;
	}
	&__instagram a{
		background: url('../../../src/components/follow-us/assets/instagram-icon.png') no-repeat;
	}
}