<div class="follow-us">
	<ul>
		<li class="follow-us__facebook"><a href="#" title="Facebook"></a></li>
		<li class="follow-us__twitter"><a href="#" title="Twitter"></a></li>
		<li class="follow-us__instagram"><a href="#" title="Instagram"></a></li>
	</ul>
</div>