.logo{
	font-weight: 500;
	letter-spacing: 0.10em;
	font-size: 21px;
	color: $first-color;
	margin-top: 14px;
	a{
		color: $first-color;
	}
}
@media only screen and (max-width: $mob-land){
	.logo{
		margin-top: 0px;
	}
	.header{
		padding-top: 38px;
	}
}