.footer-contacts{
	&__block{
		@extend .inline-block;
		font-size: 12px;
		color: $black;
		text-transform: uppercase;
		line-height: 30px;
		margin-top: -8px;
		letter-spacing: 0.05em;
		&:nth-child(1){
			width: 28%;
		}
		&:nth-child(2){
			width: 34%;
		}
		&:nth-child(3){
			width: 20%;
		}
		&:nth-child(4){
			width: 18%;
		}
		a{
			color: $black;
			&:hover{
				color: $active-color;
			}
		}
	}
}

@media only screen and (max-width: $tablet-land){
	.footer-contacts{
		&__block{
			margin-bottom: 20px;
			&:nth-child(1){
				width: 50%;
			}
			&:nth-child(2){
				width: 50%;
			}
			&:nth-child(3){
				width: 50%;
				position: relative;
				top: -30px;
			}
			&:nth-child(4){
				width: 50%;
			}
		}
	}
	.footer__left{
		width: 30%;
	}
	.footer__right{
		width: 70%;
	}
}
@media only screen and (max-width: $tablet-port){
	.footer__left{
		width: 100%;
		margin-bottom: 40px;
	}
	.footer__right{
		width: 100%;
	}
}
@media only screen and (max-width: 530px){
	.footer-contacts{
		&__block{
			margin-bottom: 20px;
			&:nth-child(1){
				width: 100%;
			}
			&:nth-child(2){
				width: 100%;
			}
			&:nth-child(3){
				width: 100%;
				position: relative;
				top: 0px;
			}
			&:nth-child(4){
				width: 100%;
			}
		}
	}
	.footer__left{
		width: 100%;
		margin-bottom: 40px;
	}
	.footer__right{
		width: 100%;
	}
}