<div class="footer-contacts">
	<div class="footer-contacts__block">
		<a href="mailto:marina.gisich@gmail.com" title="E-mail">marina.gisich@gmail.com</a>
	</div>
	<div class="footer-contacts__block">
		190068, Россия, Санкт-Петербург, <br />набережная реки Фонтанки, 121
	</div>
	<div class="footer-contacts__block">
		<a href="tel:+78123144380">+7 (812) 314 4380</a><br />
		<a href="tel:+78125707873">+7 (812) 570 7873</a>
	</div>
	<div class="footer-contacts__block">
		Пн — Пт 11:00 — 19:00 <br />Сб 12:00 — 18:00 
	</div>
</div>