<div class="footer-contacts">
	<div class="footer-contacts__block">
		<a href="mailto:marina.gisich@gmail.com" title="E-mail">marina.gisich@gmail.com</a>
	</div>
	<div class="footer-contacts__block">
		190068, Russia, St. Petersburg, <br />Fontanka emb., 121
	</div>
	<div class="footer-contacts__block">
		<a href="tel:+78123144380">+7 (812) 314 4380</a><br />
		<a href="tel:+78125707873">+7 (812) 570 7873</a>
	</div>
	<div class="footer-contacts__block">
		Mon - Fri 11:00 - 19:00 <br /> Sat 12:00 - 18:00 
	</div>
</div>