.change-view{
	font-size: 0;
	margin-bottom: 15px;
	&__grid, &__list{
		display: inline-block;
		height: 11px;
		width: 11px;
		background: url('../../../src/components/change-view/assets/icons.png') no-repeat;
		margin-left: 15px;
		&:hover{
			opacity: 0.6;
		}
	}
	&__list{
		width: 12px;
		background-position: -12px 0;
	}
}