<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Gisich" />
	<meta name="author" content="Asight.pro" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<title>Ярмарки - Gisich</title>

	<link rel="stylesheet" href="assets/css/main.min.css" />
</head>
<body class="page">

	<div class="wrap">
		<!-- header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<!-- logo -->
						{% include '../components/logo/index.html' %}
						<!-- /logo -->
					</div>
					<div class="col-8">
						<!-- main menu -->
						{% include '../components/top-level-menu/index.html' %}
						<!-- /main menu -->
					</div>
				</div>
			</div>
		</header>
		<!-- /header -->

		<!-- main content -->
		<main role="main">
			<section class="top-nav">
				<div class="container">
					<div class="row">
						<div class="col-8">
							<!-- breadcrumbs -->
							{% include '../components/breadcrumbs/index.html' %}
							<!-- /breadcrumbs -->
						</div>
						<div class="col-4">
							<!-- language -->
							{% include '../components/language/index.html' %}
							<!-- /language -->
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<!-- filters -->
							{% include '../components/filters/index-fairs.html' %}
							<!-- /filters -->
						</div>
					</div>
				</div>
			</section>
			<section class="content">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<!-- thumbnails grid -->
							{% include '../components/thumbnails-grid/index-fairs.html' %}
							<!-- /thumbnails grid -->
						</div>
					</div>
				</div>
			</section>
		</main>
		<!-- /main content -->
	</div>

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__left">
						<!-- copyright -->
						{% include '../components/copyright/index.html' %}
						<!-- /copyright -->
						<!-- follow use -->
						{% include '../components/follow-us/index.html' %}
						<!-- /follow us -->
					</div>
					<div class="footer__right">
						<!-- contacts -->
						{% include '../components/footer-contacts/index.html' %}
						<!-- /contacts -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->

	<script src="assets/js/jquery-3.1.1.min.js"></script>
	<script src="assets/js/main.min.js"></script>

</body>
</html>