<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Gisich" />
	<meta name="author" content="Asight.pro" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<title>Главная - Gisich</title>

	<link rel="stylesheet" href="assets/css/main.min.css" />
</head>
<body class="page page--home">

	<div class="wrap">
		<!-- header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-4">
						<!-- logo -->
						{% include '../components/logo/index.html' %}
						<!-- /logo -->
					</div>
					<div class="col-8">
						<!-- main menu -->
						{% include '../components/top-level-menu/index.html' %}
						<!-- /main menu -->
					</div>
				</div>
			</div>
		</header>
		<!-- /header -->
	</div>

	<!-- full banner -->
	{% include '../components/full-banner/index.html' %}
	<!-- /full banner -->
	<!-- items list -->
	{% include '../components/items-list/index.html' %}
	<!-- /items list -->

	<!-- footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="footer__left">
						<!-- copyright -->
						{% include '../components/copyright/index.html' %}
						<!-- /copyright -->
						<!-- follow use -->
						{% include '../components/follow-us/index.html' %}
						<!-- /follow us -->
					</div>
					<div class="footer__right">
						<!-- contacts -->
						{% include '../components/footer-contacts/index.html' %}
						<!-- /contacts -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->

	<script src="assets/js/jquery-3.1.1.min.js"></script>
	<script src="assets/js/main.min.js"></script>

</body>
</html>