.thumbnails-grid{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	&__item{
		flex: 0 0 31%;
		color: $black;
		margin: 0 1.75%;
		margin-bottom: 50px;
		a{
			color: $black;
			&:hover{
				color: $active-color;
			}
		}
		&:nth-child(3n){
			margin-right: 0px;
		}
		&:nth-child(3n+1){
			margin-left: 0px;
		}

	}
	&__img{
		margin-bottom: 5px;
		img{
			width: 100%;
			max-width: 100%;
		}
	}
	&__title{
		font-size: 13px;
		color: inherit;
		text-transform: uppercase;
		line-height: 20px;
		letter-spacing: 0.05em;
	}
	&__text{
		font-size: 13px;
		color: inherit;
		line-height: 20px;
	}
	&__more{
		font-size: 11px;
		color: inherit;
		text-transform: uppercase;
		margin-top: 22px;
		letter-spacing: 0.1em;
	}

	&--news-exhibitions{
		.thumbnails-grid__item{
			flex: 0 0 23%;
			margin: 0 1.33%;
			margin-bottom: 30px
			&:nth-child(4n){
				margin-right: 0px;
			}
			&:nth-child(4n+1){
				margin-left: 0px;
			}
		}
	}
	&--fairs{
		.thumbnails-grid__item{
			flex: 0 0 23%;
			margin: 0 1.33%;
			margin-bottom: 50px;
			&:nth-child(4n){
				margin-right: 0px;
			}
			&:nth-child(4n+1){
				margin-left: 0px;
			}
		}
	}
	&--fairs-grid{
		.thumbnails-grid__item{
			align-self: center;
		}
		.thumbnails-grid__img{
			img{
				width: auto;
				max-width: 95%;
				height: auto;
				max-height: 95%;
				display: block;
				margin: 0 auto;
			}
		}
	}
	&--full{
		.thumbnails-grid__item{
			flex: 0 0 100%;
			margin: 0px;
			margin-bottom: 50px;
		}
	}
}
@media only screen and (max-width: $tablet-port){
	.thumbnails-grid{
		&__item{
			flex: 0 0 48%;
			margin: 0 2%;
			margin-bottom: 50px;
			&:nth-child(3n){
				margin-right: 2%;
			}
			&:nth-child(3n+1){
				margin-left: 2%;
			}
			&:nth-child(2n){
				margin-right: 0px;
			}
			&:nth-child(2n+1){
				margin-left: 0px;
			}
		}
		&--news-exhibitions{
			.thumbnails-grid__item{
				flex: 0 0 30.6%;
				margin: 0 2%;
				margin-bottom: 30px;
				&:nth-child(4n){
					margin-right: 2%;
				}
				&:nth-child(4n+1){
					margin-left: 2%;
				}
				&:nth-child(3n){
					margin-right: 0px;
				}
				&:nth-child(3n+1){
					margin-left: 0px;
				}
			}
		}
	}
}
@media only screen and (max-width: $mob-land){
	.thumbnails-grid{
		&__item{
			flex: 0 0 100%;
			margin: 0;
			margin-bottom: 50px;
			&:nth-child(3n){
				margin-right: 0px;
			}
			&:nth-child(3n+1){
				margin-left: 0px;
			}
			&:nth-child(2n){
				margin-right: 0px;
			}
			&:nth-child(2n+1){
				margin-left: 0px;
			}
		}
		&--news-exhibitions{
			.thumbnails-grid__item{
				flex: 0 0 48%;
				margin: 0 2%;
				margin-bottom: 30px;
				&:nth-child(4n){
					margin-right: 2%;
				}
				&:nth-child(4n+1){
					margin-left: 2%;
				}
				&:nth-child(3n){
					margin-right: 2%;
				}
				&:nth-child(3n+1){
					margin-left: 2%;
				}
				&:nth-child(2n){
					margin-right: 0px;
				}
				&:nth-child(2n+1){
					margin-left: 0px;
				}
			}
		}
	}
}