<div class="thumbnails-grid thumbnails-grid--full">

	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/ex3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Сью Уильямс
			</div>
			<div class="thumbnails-grid__text">
				28 февраля - 14 апреля 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/ex3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Сью Уильямс
			</div>
			<div class="thumbnails-grid__text">
				28 февраля - 14 апреля 2017 г.
			</div>
		</a>
	</div>

</div>