<div class="thumbnails-grid">

	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ПАРЩИКОВ ТИМ
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ЧЕЛУШКИН КИРИЛЛ
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ТУЗОВ ИВАН
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				МОРОЗОВ АЛЕКСАНДР
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ПАРЩИКОВ ТИМ
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ЧЕЛУШКИН КИРИЛЛ
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ТУЗОВ ИВАН
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/artists1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				МОРОЗОВ АЛЕКСАНДР
			</div>
		</a>
	</div>

</div>