<div class="thumbnails-grid">

	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ПОДАРОК СО СМЫСЛОМ
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Киберфест
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ВЕНЕВИЯ" ИВАНА ГОРШКОВА В W ST. PETERSBURG
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news4.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				OFF WHITE
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news5.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ЛУЧШИЕ ГАЛЕРЕИ ЕВРОПЫ 2016
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news6.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ГРУППОВАЯ ВЫСТАВКА "ФУТБОЛ — ХОККЕЙ"
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news7.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				COSMOSCOW. ЯРМАРКА СОВРЕМЕННОГО ИСКУССТВА В МОСКВЕ.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news8.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ГЛЮКЛЯ В ОСНОВНОМ ПРОЕКТЕ ВЕНЕЦИАНСКОЙ БИЕННАЛЕ
			</div>
		</a>
	</div>


</div>