<div class="thumbnails-grid">

	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				АЛЕКСЕЕВА МАРИНА | ПОДАРОК СО СМЫСЛОМ
			</div>
			<div class="thumbnails-grid__text">
				Школа Masters Виталия Пушницкого<br />
				с 25 января по 7 февраля 2017 года
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				БЕЛЫЙ ПЕТР | Киберфест
			</div>
			<div class="thumbnails-grid__text">
				Музей современного искусства им. С.П. Дягилева СПбГУ<br />
				с 10 марта по 10 апреля 2017 года
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ИВАН ГОРШКОВ | "ВЕНЕВИЯ" В W ST. PETERSBURG
			</div>
			<div class="thumbnails-grid__text">
				Наб. р. Фонтанки, 121<br />
				15 сентября, в 19:00
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news4.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Лера Нибиру | OFF WHITE
			</div>
			<div class="thumbnails-grid__text">
				Музей сновидений Фрейда, Санкт-Петербург<br />
				14 октября 2016 года
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news5.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Олеся Туркина | ЛУЧШИЕ ГАЛЕРЕИ ЕВРОПЫ 2016
			</div>
			<div class="thumbnails-grid__text">
				Гостиная W St. Petersburg, Вознесенский пр-кт, 6, Санкт-Петербург<br />
				1 сентября 2016 года, в 16:00
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news6.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Керима Рагимова | ГРУППОВАЯ ВЫСТАВКА "ФУТБОЛ — ХОККЕЙ"
			</div>
			<div class="thumbnails-grid__text">
				Музей Петербургского авангарда<br />
				11 марта 2016 года
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news7.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Глеб Богомолов | COSMOSCOW
			</div>
			<div class="thumbnails-grid__text">
				В Смоленском театре, Санкт-Петербург<br />
				C 31 декабря по 3 января
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news8.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Наталья Першина | ГЛЮКЛЯ
			</div>
			<div class="thumbnails-grid__text">
				Музей "Ночь актуального искусства"<br />
				25 июня 2016 года
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>


</div>