<div class="thumbnails-grid">

	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ПОДАРОК СО СМЫСЛОМ
			</div>
			<div class="thumbnails-grid__text">
				В школе Masters состоится открытие выставки Виталия Пушницкого, подготовленной совместно с Marina Gisich Gallery.
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Киберфест
			</div>
			<div class="thumbnails-grid__text">
				10-й международный фестиваль медиа-искусства КИБЕРФЕСТ 10 проходит в Петербурге с 25 января по 7 февраля 2017 года.
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news3.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ВЕНЕВИЯ" ИВАНА ГОРШКОВА В W ST. PETERSBURG
			</div>
			<div class="thumbnails-grid__text">
				Друзья! Приглашаем вас 15 сентября, в 19:00 на коктейль по случаю открытия выставки скульптур Ивана Горшкова в W St. Petersburg! 
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news4.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				OFF WHITE
			</div>
			<div class="thumbnails-grid__text">
				Спешим сообщить, что работа Керима Рагимова будет представлена на благотворительном аукционе Off white в пользу Фонда "Обнаженные сердца" при поддержке аукционного дома Christie’s.
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news5.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ЛУЧШИЕ ГАЛЕРЕИ ЕВРОПЫ 2016
			</div>
			<div class="thumbnails-grid__text">
				Marina Gisich Gallery вошла в список 500 лучших галерей Европы по версии новостного портала о культуре и искусстве BLOUIN ARTINFO.
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news6.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ГРУППОВАЯ ВЫСТАВКА "ФУТБОЛ — ХОККЕЙ"
			</div>
			<div class="thumbnails-grid__text">
				В последние годы спорт заметно вырвался вперед. В ответ на это более 60-ти современных художников впервые объединяются в одну команду, чтобы продолжить традицию известных художников советского времени.
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news7.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				COSMOSCOW. ЯРМАРКА СОВРЕМЕННОГО ИСКУССТВА В МОСКВЕ.
			</div>
			<div class="thumbnails-grid__text">
				В этом году Marina Gisich Gallery на стенде С4 представит новые работы Керима Рагимова и Ивана Горшкова.
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news8.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				ГЛЮКЛЯ В ОСНОВНОМ ПРОЕКТЕ ВЕНЕЦИАНСКОЙ БИЕННАЛЕ
			</div>
			<div class="thumbnails-grid__text">
				Глюкля (Наталья Першина - Якиманская) - один из участников Венецианской Биеннале, All The World's Futures, представлена в Арсенале с работой "Одежда для демонтрации против ложных выборов В. Путина" (2011-2015).
			</div>
			<div class="thumbnails-grid__more">
				Смотреть больше
			</div>
		</a>
	</div>


</div>