<div class="thumbnails-grid">

	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				DOUG AITKEN
			</div>
			<div class="thumbnails-grid__text">		
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Киберфест
			</div>
			<div class="thumbnails-grid__text">
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				DOUG AITKEN
			</div>
			<div class="thumbnails-grid__text">		
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Киберфест
			</div>
			<div class="thumbnails-grid__text">
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				DOUG AITKEN
			</div>
			<div class="thumbnails-grid__text">		
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Киберфест
			</div>
			<div class="thumbnails-grid__text">
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				DOUG AITKEN
			</div>
			<div class="thumbnails-grid__text">		
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Киберфест
			</div>
			<div class="thumbnails-grid__text">
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				DOUG AITKEN
			</div>
			<div class="thumbnails-grid__text">		
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/news2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Киберфест
			</div>
			<div class="thumbnails-grid__text">
				Мираж<br />
				Палм-Спрингс, Калифорния<br />
				25 февраля - 31 октября 2017 г.
			</div>
		</a>
	</div>

</div>