<div class="thumbnails-grid">

	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/ex1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Казаков Борис
			</div>
			<div class="thumbnails-grid__text">
				20 апреля - 2 июня 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/ex2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Карен Килимник
			</div>
			<div class="thumbnails-grid__text">
				17 февраля - 9 апреля 2016 года
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/ex1.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Казаков Борис
			</div>
			<div class="thumbnails-grid__text">
				20 апреля - 2 июня 2017 г.
			</div>
		</a>
	</div>
	<div class="thumbnails-grid__item">
		<a href="#">
			<div class="thumbnails-grid__img">
				<img src="../src/components/thumbnails-grid/assets/ex2.jpg" alt="">
			</div>
			<div class="thumbnails-grid__title">
				Карен Килимник
			</div>
			<div class="thumbnails-grid__text">
				17 февраля - 9 апреля 2016 года
			</div>
		</a>
	</div>


</div>