/* top level menu style */
.top-level-menu{
	display: block;
	font-size: 0;
	text-align: right;
	margin-top: 22px;
	ul{
		li{
			@extend .inline-block;
			margin-left: 24px;
			&:first-child{
				margin-left: 0px;
			}
			a{
				font-size: 12px;
				color: $black;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				&:hover{
					color: $active-color;
				}
			}
			&.current{
				a{
					color: $active-color;
				}
			}
		}
	}
}
.menu-mob{
	display: none;
	font-size: 13px;
	color: $black;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	cursor: pointer;
	margin-top: 22px;
	&:hover{
		color: $active-color;
	}
}

@media only screen and (max-width: 1100px){
	.top-level-menu{
		text-align: left;
		ul{
			li{
				margin-left: 0px;
				margin-right: 25px;
				margin-bottom: 15px;
			}
		}
	}
}
@media only screen and (max-width: $mob-land){
	.menu-mob{
		display: inline-block;
	}
	.top-level-menu{
		display: none;
		margin-top: 15px;
		&--active{
			display: block;
		}
		ul{
			li{
				width: 100%;
				margin-right: 0px;
				a{
					font-size: 13px;
				}
			}
		}
	}
}