<div class="menu-mob">Меню</div>
<nav role="navigation" class="top-level-menu">
	<ul>
		<li><a href="artists.html">Художники</a></li>
		<li><a href="exhibitions.html">Выставки</a></li>
		<li><a href="public-exhibitions.html">Публичные выставки</a></li>
		<li><a href="fairs.html">Ярмарки</a></li>
		<li><a href="news.html">Новости</a></li>
		<li><a href="about.html">Контакты</a></li>
	</ul>
</nav>