<nav role="navigation" class="top-level-menu">
	<ul>
		<li><a href="artists.html">Artists</a></li>
		<li><a href="exhibitions.html">Exhibitions</a></li>
		<li><a href="public-exhibitions.html">Public Exhibitions</a></li>
		<li><a href="fairs.html">Fairs</a></li>
		<li><a href="news.html">News</a></li>
		<li><a href="about.html">Contacts</a></li>
	</ul>
</nav>