.items-list{
	padding: 80px 0;
	width: 100%;
	ul{
		li{
			display: block;
			text-transform: uppercase;
			font-size: 13px;
			padding: 6px 0;
			margin: 10px 0;
			line-height: 18px;
			font-weight: 500;
			a{
				color: $black;
				&:hover{
					color: $active-color;
				}
			}
		}
	}
	&--artists{
		padding: 0 0 50px;
	}
}

@media only screen and (max-width: $tablet-port){
	.items-list{
		.row{
			column-count: 2;
			column-gap: 0;
		}
		.col-3{
			break-inside: avoid;
			width: 100%;
			padding-right: 10px;
			box-sizing: border-box;
		}
	}
}
@media only screen and (max-width: $mob-land){
	.items-list{
		.row{
			column-count: 1;
			column-gap: 0;
		}
		.col-3{
			break-inside: avoid;
			width: 100%;
			padding-right: 10px;
			box-sizing: border-box;
		}
	}
}