<div class="items-list">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<ul>
					<li><a href="#">АЛЕКСЕЕВА МАРИНА</a></li>
					<li><a href="#">АХМЕТГАЛИЕВА ТАНЯ</a></li>
					<li><a href="#">БЕГАЛЬСКАЯ ВИКА / ВИЛКИН </a></li>
					<li><a href="#">АЛЕКСАНДР БЕЛЫЙ</a></li>
					<li><a href="#">ГАН АННА И АЛЕКСЕЙ</a></li>
				</ul>
			</div>
			<div class="col-3">
				<ul>
					<li><a href="#">ГОРШКОВ ИВАН</a></li>
					<li><a href="#">ГРЕЦКИЙ ДМИТРИЙ / ЕВГЕНИЯ КАЦ</a></li>
					<li><a href="#">ГУБАНОВА ЕЛЕНА / ГОВОРКОВ ИВАН</a></li>
					<li><a href="#">ЗУБАРЕВА НАДЯ</a></li>
					<li><a href="#">КАЗАКОВ БОРИС</a></li>
				</ul>
			</div>
			<div class="col-3">
				<ul>
					<li><a href="#">КУСТОВ ВЛАДИМИР</a></li>
					<li><a href="#">МАЙОФИС ГРИГОРИЙ</a></li>
					<li><a href="#">МОРОЗОВ АЛЕКСАНДР</a></li>
					<li><a href="#">МОТОЛЯНЕЦ СЕМЕН</a></li>
					<li><a href="#">ПАРЩИКОВ ТИМ</a></li>
				</ul>
			</div>
			<div class="col-3">
				<ul>
					<li><a href="#">ПУШНИЦКИЙ ВИТАЛИЙ</a></li>
					<li><a href="#">РАГИМОВ КЕРИМ</a></li>
					<li><a href="#">ТУЗОВ ИВАН</a></li>
					<li><a href="#">ЦЫКАЛОВ ДМИТРИЙ</a></li>
					<li><a href="#">ЧЕЛУШКИН КИРИЛЛ</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>