.gallery{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin: 20px 0;
	&__item{
		flex: 0 0 31%;
		margin: 1.75%;
		&:nth-child(3n){
			margin-right: 0px;
		}
		&:nth-child(3n+1){
			margin-left: 0px;
		}
		&:hover{
			opacity: 0.8;
		}
	}
}