<div class="gallery">
	<div class="gallery__item">
		<a href="#" title=""><img src="../src/components/thumbnails-grid/assets/news2.jpg" alt=""></a>
	</div>
	<div class="gallery__item">
		<a href="#" title=""><img src="../src/components/thumbnails-grid/assets/news3.jpg" alt=""></a>
	</div>
	<div class="gallery__item">
		<a href="#" title=""><img src="../src/components/thumbnails-grid/assets/news4.jpg" alt=""></a>
	</div>
	<div class="gallery__item">
		<a href="#" title=""><img src="../src/components/thumbnails-grid/assets/news5.jpg" alt=""></a>
	</div>
	<div class="gallery__item">
		<a href="#" title=""><img src="../src/components/thumbnails-grid/assets/news6.jpg" alt=""></a>
	</div>
	<div class="gallery__item">
		<a href="#" title=""><img src="../src/components/thumbnails-grid/assets/news7.jpg" alt=""></a>
	</div>
</div>