.carousel{
	position: relative;
	&__back, &__next{
		font-family: "Helvetica Neue", Helvetica, sans-serif;
		position: absolute;
		top: 50%;
		width: 40px;
		height: 40px;
		margin-top: -20px;
		font-size: 60px;
		font-weight: 100;
		line-height: 30px;
		color: $white;
		text-align: center;
		background: #222222;
		border: 3px solid $white;
		border-radius: 23px;
		opacity: 0.5;
		&:hover{
			opacity: 1;
		}
	}
	&__back{
		left: 15px;
	}
	&__next{
		right: 15px;
	}
	&__item{
		display: none;
		&--active{
			display: block;
		}
		img{
			display: block;
			width: 100%;
		}
	}
	&__desk{
		font-size: 11px;
		line-height: 15px;
		text-align: center;
		margin-top: 15px;
		a{
			color: $black;
			&:hover{
				color: $active-color;
			}
		}
	}
	&--second{
		.carousel__item{
			img{
				width: auto;
				height: auto;
				max-height: 100%;
				max-width: 80%;
				margin: 0 auto;
			}
		}
		.carousel__back, .carousel__next{
			top: 45%;
			width: 14px;
			height: 32px;
			background: url('../../../src/components/carousel/assets/arrow.png') no-repeat;
			margin-top: -16px;
			border: 0px;
			opacity: 1;
			font-size: 0;
			transition: 0s ease-in-out;
			&:hover{
				background-position: 0 -32px;
			}
		}
		.carousel__next{
			transform: rotate(-180deg);
		}
	}
}
@media only screen and (max-width: $tablet-port){
	.carousel{
		&__item{
			img{
				max-width: 70%;
			}
		}
		&--second{
			.carousel__item{
				img{
					max-width: 70%;
				}
			}
			.carousel__back, .carousel__next{
				top: 40%;
			}
		}
		&__back, &__next{
			top: 40%;
		}
		&--view2{
			.carousel__item{
				display: none;
				&.carousel__item--active{
					display: block;
				}
				img{
					display: block;
					width: 100%;
					max-width: 100%;
				}
			}
			.carousel__back, .carousel__next{
				top: 50%;
			}
		}
	}
}