<div class="carousel carousel--view2">
	<div class="carousel__body">
		<div class="carousel__item carousel__item--active">
			<img src="../src/components/carousel/assets/img1.jpg" alt="">
		</div>
		<div class="carousel__item">
			<img src="../src/components/carousel/assets/img2.jpg" alt="">
		</div>
	</div>
	<a href="#" class="carousel__back">‹</a>
	<a href="#" class="carousel__next">›</a>
</div>