<div class="carousel carousel--second">
	<div class="carousel__body">
		<div class="carousel__item">
			<img src="../src/components/carousel/assets/img4.jpg" alt="">
			<div class="carousel__desk">
				<p><a href="#">Alicja Kwade</a></p>
				<p><i>Reality Zones</i></p>
				<p>2016</p>
				<p>Nickel, stainless steel</p>
				<p>AKW 326</p>
			</div>
		</div>
		<div class="carousel__item carousel__item--active">
			<img src="../src/components/carousel/assets/img3.jpg" alt="">
			<div class="carousel__desk">
				<p><a href="#">КАРЕН КИЛИМНИК</a></p>
				<p><i>Reality Zones</i></p>
				<p>2016</p>
				<p>Nickel, stainless steel</p>
				<p>AKW 326</p>
			</div>
		</div>
	</div>
	<a href="#" class="carousel__back">‹</a>
	<a href="#" class="carousel__next">›</a>
</div>