.text-title{
	font-size: 13px;
	line-height: 22px;
	margin-bottom: 15px;
	h1, h2{
		font-size: 13px;
		margin: 0px;
		padding: 0px;
		font-weight: 500;
	}
	h1{
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
	&--nomargin{
		margin: 0px;
	}
	&__nav{
		line-height: 15px;
		margin-top: 5px;
		position: relative;
		top: 5px;
		ul{
			font-size: 0;
			li{
				display: inline-block;
				font-size: 11px;
				text-transform: uppercase;
				color: $black;
				letter-spacing: .05em;
				margin-right: 16px;
				a{
					color: $black;
					&:hover{
						color: $active-color;
					}
				}
				&.current{
					a{
						color: $active-color;
					}
				}
			}
		}
	}
}