<div class="text-title">
	<h1>КАРЕН КИЛИМНИК</h1>
	<div class="text-title__nav">
		<ul>
			<li class="current"><a href="artist-series.html">Серии</a></li>
			<li><a href="artist-single-bio.html">Биография</a></li>
			<li><a href="artist-single-exh.html">Публичные выставки</a></li>
			<li><a href="artist-single-exh.html">Выставки</a></li>
			<li><a href="artist-single-exh.html">Ярмарки</a></li>
			<li><a href="artist-single-news.html">Новости</a></li>
			<li><a href="#">Публикации</a></li>
		</ul>
	</div>
</div>