.title-links{
	margin-bottom: 10px;
	line-height: 22px;
	ul{
		li{
			display: inline-block;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			padding-right: 15px;
			font-size: 11px;
			&:last-child{
				padding-right: 0px;
			}
			a{
				color: $black;
				&:hover{
					color: $active-color;
				}
			}
			&.current{
				a{
					color: $active-color;
				}
			}
		}
	}
}