.filters{
	font-size: 0;
	margin: 40px 0 25px;
	padding-bottom: 15px;
	border-bottom: 1px solid $black;
	line-height: 24px;
	ul{
		li{

		}
	}
	&__item{
		@extend .inline-block;
		font-size: 11px;
		text-transform: uppercase;
		color: $black;
		letter-spacing: 0.05em;
		margin-right: 16px;
		a{
			color: $black;
		}
		&--current, a:hover{
			color: $active-color;
			a{
				color: $active-color;
			}
		}
	}
	&--first{
		margin-bottom: 20px;
	}
	&--second{
		margin-top: 0px;
		padding-bottom: 18px;
		.filters__item{
			font-size: 13px;
			margin-right: 20px;
		}
	}
}