<div class="filters">
	<ul>
		<li class="filters__item filters__item--current"><a href="#">Смотреть все</a></li>
		<li class="filters__item"><a href="#">Выставки</a></li>
		<li class="filters__item"><a href="#">Групповые выставки</a></li>
		<li class="filters__item"><a href="#">Арт выставки</a></li>
		<li class="filters__item"><a href="#">Мероприятия</a></li>
	</ul>
</div>