<div class="filters filters--first">
	<ul>
		<li class="filters__item filters__item--current"><a href="#">Будущие</a></li>
		<li class="filters__item"><a href="#">Прошедшие</a></li>
	</ul>
</div>
<div class="filters filters--second">
	<ul>
		<li class="filters__item filters__item--current"><a href="#">Смотреть все</a></li>
		<li class="filters__item"><a href="#">2017-2015</a></li>
		<li class="filters__item"><a href="#">2014-2012</a></li>
		<li class="filters__item"><a href="#">2011-2009</a></li>
		<li class="filters__item"><a href="#">2008</a></li>
		<li class="filters__item"><a href="#">2004-2003</a></li>
	</ul>
</div>