<div class="filters">
	<ul>
		<li class="filters__item"><a href="#">Текущие</a></li>
		<li class="filters__item filters__item--current"><a href="#">Будущие</a></li>
		<li class="filters__item"><a href="#">Прошедшие</a></li>
	</ul>
</div>