/* breadcrumbs */
.breadcrumbs{
	font-size: 0;
	line-height: 18px;
	ul{
		li{
			@extend .inline-block;
			color: $second-color;
			font-size: 12px;
			a{
				color: $second-color;
				&:hover{
					color: $active-color;
					border-bottom: 1px solid $active-color;
				}
			}
			&.current{
				color: $black;
				a{
					color: $black;
				}
			}
		}
	}
}