.full-img{
	display: block;
	width: 100%;
	min-height: 100%;
	background-position: center center;
	background-size: cover;
	position: relative;
	color: $black;
	&__more{
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 30px;
		line-height: 30px;
		background: $white;
		color: $black;
		font-size: 10px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.10em;
		&:hover{
			color: $active-color;
		}
	}
	&__text{
		position: absolute;
		bottom: 70px;
		left: 0px;
		width: 100%;
	}
	&__text-body{
		max-width: 300px;
		font-size: 16px;
		line-height: 24px;
		h2{
			text-transform: uppercase;
			font-size: 16px;
			line-height: 24px;
			margin: 0px;
			margin-bottom: 7px;
			font-weight: bold;
			letter-spacing: 0.05em;
		}
	}
}