<a href="#" class="full-img" style="background-image: url('../src/components/full-banner/assets/img1.jpg');">
	<div class="full-img__text">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="full-img__text-body">
						<h2>ЧЕЛУШКИН КИРИЛЛ</h2>
						Гиперпрыжок и муравьед<br />
						20 марта - 14 апреля 2017
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#" class="full-img__more">View more</a>
</a>